body {
     margin: 0;
     padding: 0;
     background-color: rgb(150, 207, 207);

}
.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem;
    background-color: rgb(106, 137, 137);padding: 1rem;
    padding: 1rem;
}
nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: antiquewhite;
    padding: .3rem;
}