body {
     margin: 0;
     padding: 0;
     background-color: rgb(150, 207, 207);

}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem;
    background-color: rgb(106, 137, 137);padding: 1rem;
   
}
nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: antiquewhite;
    padding: .3rem;
}
.header {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/22/buildings-1867772_960_720.jpg);
    background-size: cover;
    background-position: 50%;
    height: 15rem;
    padding: 2rem;
}
h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
} 